data/
.env
pgdata/
__pycache__/
.DS_Store
dist/
build/
*.spec
launcher_error.log
notebooks/__marimo__/
REW_Dashboard_Launcher.exe
REW_Dashboard_Launcher
launcher/dist/
launcher/build/
launcher/launcher_error.log
launcher/*.spec
tuning_files/*
!tuning_files/presets/
!tuning_files/profiles/
!tuning_files/tuning_exports/
